/*  Base Container */

.navbar, .main-content {
    padding-left : 25px;
    padding-right : 25px;
}
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*Landing Page Cards*/
.btn-outline-primary {
  color: #20c997;
  border-color: #20c997;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #20c997;
  border-color: #20c997;
}
/*Landing Page Cards*/
.card.card-dark {
    margin: 2.5px 2.5px 2.5px 2.5px;
}

.card.card-dark:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.35) !important;
}

.card.bg-light {
    margin: 2.5px 2.5px 2.5px 2.5px;
}

.card.bg-light:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 3px 10px 0 rgba(0, 0, 0, 0.35) !important;
}